html {
  font-size: 10px;
  background: url('./peakpx.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: auto;
}

header{
  font-size: 30px;
  text-align: center;
  color: #2b023b;
  margin-bottom: 20px;
}

.keys {
  display: flex;
  flex: 1;
  min-height: calc(100vh - 150px);
  align-items: center;
  justify-content: center;
 
}

.key {
  border: .4rem solid rgb(61, 45, 68);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem rgb(61, 49, 61);
}

.playing {
  transform: scale(1.1);
  border-color: #ce5afc;
  box-shadow: 0 0 1rem #ce5afc;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #e57cfa;
}

